<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haze.android.spark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.haze.android.spark.GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.haze.android.spark.PagerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haze.android.spark.SignUpActivity"
            android:label="Sign Up"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.haze.android.spark.LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.haze.android.spark.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.haze.android.spark.EditActivity"
            android:label="Edit Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.haze.android.spark.SocialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.haze.android.spark.UserDetailedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.haze.android.spark.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.haze.android.spark.CoinsActivity"></activity>
    </application>

</manifest>